/* line 1, ../sass/_globals.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_globals.scss */
.center {
  width: 500px;
  display: block;
  margin: auto;
}

/* line 1, ../sass/_top.scss */
header {
  background: #ff0010;
  height: 100px;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: #0020ff;
  height: 100px;
}
